:root {
    --sdb-size-base: calc(clamp(300px,30vw,350px) * 1.2);
}

/*TEMPORARY FIX FOR SIDEBAR SPACING*/
html:has(.kromaSidebar) section {
    border-left: calc(var(--sdb-size-base) / 6 + 5px) solid #ffffff00 !important;
}

.sdb-logo img {
    max-height: calc(var(--sdb-size-base) / 10);
    /* max-width: 1000px; */
}

.kromaSidebar.collapsed .sdb-logo img {
    /* max-width: 10px; */
}

.sdb-logo {
    /* height: calc(var(--sdb-size-base) * 1.3 ); */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: calc(var(--sdb-size-base) / 25);
    /* justify-content: flex-start; */
    padding: calc(var(--sdb-size-base) / 30) calc(var(--sdb-size-base) / 40);
    box-sizing: border-box;
    float: left;
}

.kromaSidebar {
    width: var(--sdb-size-base);
    height: 100%;
    position: fixed;
    /* top: calc(0px +  var(--nav-size-base)); */
    bottom : 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: nowrap;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    justify-content: flex-start;
    box-sizing: border-box;
    padding: clamp(5px,calc(var(--nav-size-base)/5),10px);
    max-width: 1000px;
}

html:has(.kromaNav) .kromaSidebar{

    height: calc(100% - calc(0px +  var(--nav-size-base)));
    
}


.kromaSidebar:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.95;
    z-index: -1;
    background: var(--neutral-50);
    /* box-shadow: var(--shadow-md); */
    border-right: 1px solid var(--neutral-300);
}

.kromaSidebar,.kromaSidebar * {
    transition: 100ms;
}

.sdb-toggle {
    width: 100%;
    /* height: 100%; */
    /* gap: calc(var(--sdb-size-base) / 12); */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    /* position: absolute; */
    /* right: 0; */
    /* top: 0; */
    /* bottom: 0; */
    /* margin: auto; */
    box-sizing: border-box;
    /* padding: 0 6px; */
    align-self: self-end;
}

.kromaSidebar.collapsed .sdb-toggle {
    justify-content: center;
    /* margin: 0; */
    /* right: -20px; */
    /* bottom: 10px; */
}

.sdb-arrow {
    /* width: calc(var(--sdb-size-base) / 8); */
    /* height: calc(var(--sdb-size-base) / 8); */
    line-height: 0;
    font-size: calc(var(--sdb-size-base) / 10);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: 1px solid var(--neutral-600); */
    color: var(--neutral-600);
    border-radius: 5px;
    flex-wrap: nowrap;
    text-align: center;
    font-family: serif;
    transform: scaleX(-1);
    transform-origin: center;
}

.kromaSidebar.collapsed .sdb-arrow {
    transform: scaleX(1);
}


.sdb-menu {
    display: flex;
    width: 100%;
    /* height: 79%; */
    padding: calc(var(--sdb-size-base) / 40);
    flex: 1 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.kromaSidebar .sdb-logo:after {
    content: ""; 
    display: block;
    width: 100%;
    height: 1px;
    background: var(--neutral-300);
}

.sdb-logo span {
    margin: auto 0;
}

.kromaSidebar.collapsed .sdb-logo {
    flex-wrap: nowrap;
}

.sdb-menu ul li a {
    text-decoration: none;
    list-style: none;
    /* line-height: 0; */
    display: flex;
    /* gap: calc(var(--sdb-size-base) / 25); */
    width: 100%;
    align-items: center;
    padding: calc(var(--sdb-size-base) / 40) 0px;
    position: relative;
}

.sdb-menu ul li a span{
    margin-left:calc(var(--sdb-size-base) / 25);
}

.kromaSidebar.collapsed .sdb-menu li:has(a:not([href])) {
    max-width: 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    position: absolute;
}


.sdb-menu a span{
    /* display: inline-block; */
}

.kromaSidebar.collapsed .sdb-logo span
,.kromaSidebar.collapsed .sdb-menu a span{opacity:0;max-width: 0;max-height: 0;overflow:hidden;margin: auto;}


.sdb-menu ul {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    /* gap: calc(var(--sdb-size-base) / 30); */
}

.kromaSidebar li i {
    font-size: calc(var(--sdb-size-base) / 16 );
    text-align: left;
    /* margin: auto; */
    display: flex;
    width: calc(var(--sdb-size-base) / 9.5);
    justify-content: center;
    color: var(--neutral-700);
}


.kromaSidebar.collapsed li i {
    font-size: calc(var(--sdb-size-base) / 22 );
    width: calc(var(--sdb-size-base) / 14);
}

.sdb-toggle.show ~ .sdb-menu {
    max-height: 1000px;
    opacity: 1;
    transition: max-height 0s 0ms, opacity 100ms;
}

.kromaSidebar.collapsed {
    max-width: calc(var(--sdb-size-base) / 6 );
    align-items: center;
}

.kromaSidebar.collapsed .sdb-logo:not(:has(img)) {

    padding:0;
    
}

.sdb-menu ul li a:hover:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #00000008;
    border-radius: 5px;
    z-index: -1;
    /* opacity: 0.5; */
}

.dark-mode .sdb-menu ul li a:hover:before {
    background: #ffffff0f;
}