/* Carousel Styles */
.carousel-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
}

.carousel-list {
  display: flex;
  transition: transform 0.7s ease-in-out;
}

.carousel-item {
  flex-shrink: 0;
  width: 100%;
}
.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.carousel-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  transform: translateX(-50%);
  text-shadow: 0 5px 10px #0004;
}

.carousel-prev, .carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.carousel-prev {
  left: 10px;
  position: absolute;
}

.carousel-next {
  right: 10px;
  position: absolute;
}

.carousel-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(30, 44, 88, 0.637);
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: white;
}

.auto-play-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.light-mode .carousel-content {
  background-color: rgba(0, 0, 0, 0.5);
}

.dark-mode .carousel-content {
  background-color: rgba(255, 255, 255, 0.5);
}
