
@media (pointer:coarse) {
    .arrow {display:none !important;}
}

.slideshow .hidden {display:none !important;}

.slideshow .arrow {
    opacity:0;
    position: sticky;
    top: 0;
    bottom: 0;
    width: 0px;
    height: 55px;
    margin: auto 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-family: fantasy;
    font-size: 40px;
    line-height: 0;
    /* font-weight: bold; */
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    cursor: pointer;
    color: #41414180;
    text-align: center;
}

.slideshow .arrow:before{
    content:"";
    position:absolute;
    top:0;
    left:-28px;
    width:55px;
    height:100%;
    background: #e2e2e28f;
    z-index:-1;
    border-radius:100%;
    transition: 50ms;
}

.slideshow .arrow.arrowLeft {
    left: 40px;
}

.slideshow .arrow.arrowRight {
    left: calc(100% - 40px );
}

.slideshow .arrow:hover {
    /* transform: scale(1.05) !important; */
    color: #626262;
    opacity: 1 !important;
}

.slideshow .arrow:hover:before {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.slideshow *:has(.arrow):hover > .arrow {
    opacity: 0.8;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.slideshow *:has(.arrow)::-webkit-scrollbar,.slideshow::-webkit-scrollbar {
  display: none;
}

.slideshow *:has(.arrow),.slideshow {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.slideshow {
    width: 100%;
    height: clamp(300px,35vw,500px);
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: scroll;
    scroll-snap-type: x mandatory;
    border-radius: clamp(15px,3vw,45px);
    position:relative;
    scroll-behavior: smooth;
}

.slideshow .slide {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    flex: 0 0 100%;
    scroll-snap-align: center;
}

.slideshow .slide.first {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.slideshow .slide.last {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.slideshow .bullets {
    position: sticky;
    margin-bottom: 7px;
    margin-top: auto;
    background: #2f2f2fbd;
    width: max-content;
    height: max-content;
    display: flex;
    padding: 5px;
    border-radius: 50px;
    gap: 5px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.8;
}

.slideshow .bullet {
    width: 15px;
    height: 15px;
    background: #ffffff69;
    border-radius: 51px;
    cursor:pointer;
}

.slideshow .bullet.current {
    background: white;
}
